<!DOCTYPE html>
<html lang="en">
<head> sh
    <meta charset="UTF-8">
    <title>Homework JS #13-14</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/tmpl.js"></script>
    <script src="js/script.js"></script>

</head>
<body>
<script type="text/template" id="test">
    <div class="main">
        <h3><%= pageTitle %></h3>
        <div class="question">
            <% for (let i in categories) { %>
            <p><%= categories[i].categoryName%></p>
            <ul>
                <% for (let j in categories[i].variant) { %>
                <li>
                    <label><input type="checkbox" value="<%= j %>" id="cb_<%= i%><%= j%>">&emsp;<%= categories[i].variant[j] %></label>
                </li>
                <% }; %>
            </ul>
            <% }; %>
        </div>
        <div style="clear: both"></div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" id="foo">Проверить мои результаты</button>

    </div>
</script>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <h3 id="testpass"></h3>
            <p id="comment"></p>
        </div>
    </div>
</div>

</body>
</html>